.ant-layout-content{
    margin: 15px 15px 0 15px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    .ant-tabs{
        flex: auto;
        display: flex;
        flex-flow: column;
        .ant-tabs-bar{
            display: block;
            margin-bottom: 0;
            .ant-tabs-nav-container{
                width: 95%;
                .ant-tabs-nav-scroll{
                    max-width: 100%;
                }
            }
        }
        .ant-tabs-content{
            flex: auto;
            display: flex;
            .ant-tabs-tabpane{
                display: flex;
                flex-flow:column;
                padding: 1px;
                .header{                   
                    height: auto;
                    padding: 10px 0;          
                    box-shadow: 0 5px 10px -5px #d8d8d8;
                    display: flex;
                    .ant-input-group-wrapper{
                        flex: auto;
                        .addParams{
                            cursor: pointer;
                        }
                    }
                    .buttons{
                        display: inline-block;
                        width:600px;
                        margin-left:20px;
                        .ant-btn-group{
                            margin-right:20px;
                        }
                    }
                }
                .body{
                    flex: auto;
                    overflow-y:auto;
                    padding: 5px;
                    .ant-table-wrapper{
                        padding: 10px;
                    }
                    .ant-radio-group{
                        padding: 20px 20px 10px 20px;
                    }
                    .ant-table-row .ant-input{
                        border:none;
                    }
                    .ant-table-row .ant-input:focus{
                        border-color:#17c184;
                    }
                    .title{
                        background: #F7F7F7;
                        line-height: 45px;
                        border-bottom: 1px solid #e9e9e9;
                        padding-left: 15px;
                    }
                    .ant-tabs-nav-container{
                        width:60%;
                    }
                    .info{
                        width: 100%;
                        line-height: 36px;
                        label{
                            margin: 0 15px;
                            font-size:12px;
                        }
                        span{
                            color:#108ee9;
                        }
                    }
                    .ant-btn-group{
                        padding: 20px;
                    }
                    .test{
                        height: 600px;
                    }
                }
            }
           
        }
    }
}